/* Style and transitions for the demo page dialogs */

.dialog{
    position: absolute;
    width: 300px;
    height: 160px;
    border: 1px solid #c7c7c7;
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    font: 13px Sans-Serif;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: middle;
    color: #666;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -150px;
}

.dialog .close{

    position: relative;
    background-image: url(../images/sprite.png);
    background-position: 6px -64px;
    border: 1px solid #afafaf;

    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    -webkit-box-shadow: 0 0 0 0px #e1e1e1;
    -moz-box-shadow: 0 0 0 0px #e1e1e1;
    box-shadow: 0 0 0 0px #e1e1e1;

    width: 26px;
    height: 26px;
    position: fixed;

    top: 15px;
    right: 15px;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-transition: -webkit-transform 0.3s, border 0.3s, margin 0.3s, -webkit-box-shadow 0.2s, opacity 0.3s, top 0.3s;
    -moz-transition: -moz-transform 0.3s, border 0.3s, margin 0.3s, -moz-box-shadow 0.2s, opacity 0.3s, top 0.3s;
    -ms-transition: -ms-transform 0.3s, border 0.3s, margin 0.3s, box-shadow 0.2s, opacity 0.3s, top 0.3s;
    -o-transition: -o-transform 0.3s, border 0.3s, margin 0.3s, box-shadow 0.2s, opacity 0.3s, top 0.3s;
    transition: transform 0.3s, border 0.3s, margin 0.3s, box-shadow 0.2s, opacity 0.3s, top 0.3s;
}

.dialog .close:hover{
    border: 2px solid rgba(175, 175, 175, 0.5);
    -webkit-box-shadow: 0 0 0 4px #e1e1e1;
    -moz-box-shadow: 0 0 0 4px #e1e1e1;
    box-shadow: 0 0 0 4px #e1e1e1;

    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);

}

.dialog.visible{
    opacity: 1;

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);

    pointer-events: auto;
}

.dialog.hidden{
    opacity: 0;

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transform: scale(0.8, 0.8);

    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);

    pointer-events: none;
}

.dialog.next{
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 50px;
    color: #666;
}

.dialog.prev{
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 50px;
    color: #666;
}

.dialog .arrow{
    position: absolute;
    top: 50px;

    background-image: url(../images/arrows.png);
    background-repeat: no-repeat;

    width: 50px;
    height: 50%;
    opacity: 0.25;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    cursor: pointer;
}

.dialog .arrow.prev{
    background-position: -2px 50%;
    left: 0;
}

.dialog .arrow.next{
    background-position: -48px 50%;
    right: 0;
}

.dialog .arrow:hover{
    opacity: 0.5;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;

    transform: translate(3px,0);
    -webkit-transform: translate(3px,0);
    -moz-transform: translate(3px,0);
    -ms-transform: translate(3px,0);
    -o-transform: translate(3px,0);
}

.cover{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;

}

.cover.visible{
    opacity: 0.5;
    pointer-events: auto;
}

.cover.hidden{
    opacity: 0;
    pointer-events: none;

}

button{
    cursor: pointer;
}
