.dialogue{
    position: absolute;
    width: 300px;
    height: 160px;
    border: 1px solid #666;
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    font: bold 13px Sans-Serif;
    padding: 6px 10px;
    white-space: nowrap;
    vertical-align: middle;
    color: #666;
    margin: 0px auto;
    background-color: #ffffff;
}

.dialogue .close{
    position: absolute;
    right: 16px;
    top: 18px;
    width: 11px;
    height: 11px;
    border: none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAA6klEQVQY05WRzwqCQBCH94GiS+Ah6A8EXXwQ7wsqKGqCStAz9B7R2TqZdpAMCopOvUPQ9huZhfLW4WOY3367jKNwXVeAAliO44ggCESSJG2lHvkCbMjTogInHA468gz5DbzJI9kCD7qAwyMkg+U5+jM/VJMneIwxuNi2rSCVWZatURvqkR+AocdowSsT3/f3kBSqCsOQ6ha5oZ1vWcRxvCJZStnKURRJ/shfGZh4qSSZINnzvBz5tCub4M4z52maLlErnrnWF/Qen7yNHaQ+b2OEvuJtXMkTvHAKChz2OnseIm/Aizzxzx/8AIvX4+gc2zPQAAAAAElFTkSuQmCC') no-repeat;
}

.dialogue.visible{
    opacity: 1;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -webkit-transform: scale(1, 1);
    pointer-events: auto;
}

.dialogue.hidden{
    opacity: 0;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -webkit-transform: scale(0.85, 0.85);
    pointer-events: none;
}

button{
    cursor: pointer;
}
