/* General style for the test page */

@font-face {
    font-family: 'League Gothic';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#League Gothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block;
}

h1{
	font-size: 70px;
	font-family:'League Gothic',Times,'Times New Roman',serif;
	text-transform: uppercase;
}

h2{
	font-size: 36px;
	font-family:'League Gothic',Times,'Times New Roman',serif;
	text-transform: uppercase;
}

h3{
	font-size: 18px;
	font-family:'League Gothic',Times,'Times New Roman',serif;
	text-transform: uppercase;
}

body {
	background: #fff url('../images/body-noise.png') fixed;
	font: 14px 'Crimson+Text', serif;
	overflow-y:scroll!important;
    overflow-x: hidden;
}

ul, li{
    margin: 10px;
}

button {
	border: 1px solid #ccc;
	border-radius: 3px;
	text-shadow: 0 1px 1px white;
	-webkit-box-shadow: 0 1px 1px #fff;
	-moz-box-shadow:    0 1px 1px #fff;
	box-shadow:         0 1px 1px #fff;
	font: bold 11px Sans-Serif;
	padding: 6px 10px;
	white-space: nowrap;
	vertical-align: middle;
	color: #333;
	cursor: pointer;
	height: 32px;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
}

button:hover, .button:focus {
	border-color: #999;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
	-moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}

button:active {
	border: 1px solid #AAA;
	border-bottom-color: #CCC;
	border-top-color: #999;
	-webkit-box-shadow: inset 0 1px 2px #aaa;
	-moz-box-shadow:    inset 0 1px 2px #aaa;
	box-shadow:         inset 0 1px 2px #aaa;
	background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
	background:    -moz-linear-gradient(top, #E6E6E6, gainsboro);
	background:     -ms-linear-gradient(top, #E6E6E6, gainsboro);
	background:      -o-linear-gradient(top, #E6E6E6, gainsboro);
}

button:after {
	content: "";
	display: inline-block;
	width: 0px;
	height: 0px;
	margin: 0 0 0 4px;
	position: relative;
	top: -1px;
}

button:hover:after {
	border-top-color: black;
}

a {
    text-decoration: none;
    color: hsl(206, 80%, 50%);
}

::selection, ::-moz-selection{
    background:#47bfa2;
    color:#fff;
    text-shadow:none; 
}

::-webkit-scrollbar{
	margin-right:5px;
	background-color:#ddd;
	width:10px;
}

::-webkit-scrollbar-track{ 
    -webit-box-shadow:0 0 2px #ccc;
    box-shadow:0 0 2px #ccc;
}

::-webkit-scrollbar-thumb{ 
    border:1px #eee solid;
    border-radius:10px;
    background:#777;
    -webit-box-shadow:0 0 8px #555 inset;
    box-shadow:0 0 8px #555 inset;
    -webit-transition:all .3s ease-out;
    transition:all .3s ease-out; 
}

::-webkit-scrollbar-thumb:window-inactive{ 
    background:#bbb;
    box-shadow:0 0 8px #999 inset; 
}

::-webkit-scrollbar-thumb:hover{ 
    background:#999; 
}

#mainContent{
    margin: 20px;
    width: 100%;
    height: auto;
}

#container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

#header{
    background-color: darkblue;
    color: white;
    width: 100%;
    height: 60px;
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}